.nav{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navLink {
    text-decoration: none;
    padding: 10px;
    color: black;
}

.activeLink {
    font-weight: bold;
    color: #007bff;
 
}
.active {
    font-weight: bold;
    color: #007bff;
}